<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>O Cyfrowej Akademii</title></%block>

<%block name="js_extra">
  <script type="text/javascript">
    $(function() {
      $('section.message').hide();
      $('#about-menu a').removeClass('active');
      window.scrollTo(0,0);
      
      if ( document.location.href.indexOf('#faq') > -1 ) {
        $('section#faq').show();
        $('#about-menu a.faq').addClass('active');
      } else if ( document.location.href.indexOf('#blog') > -1 ) {
        $('section#blog').show();
        $('#about-menu a.blog').addClass('active');
      } else if ( document.location.href.indexOf('#contact') > -1 ) {
        $('section#contact').show();
        $('#about-menu a.contact').addClass('active');
      } else if ( document.location.href.indexOf('#careers') > -1 ) {
        $('section#careers').show();
        $('#about-menu a.careers').addClass('active');
      } else {
        $('section#about').show();
        $('#about-menu a.about').addClass('active');
      }
      
      $('#about-menu a').click(function(event) {
        event.preventDefault();
        $('#about-menu a').removeClass('active');
        $(this).addClass('active');
        var clickId = "section" + $(this).attr('href');
        $('section.message').hide();
        $(clickId).show();
      });
    });
  </script>
</%block>

<section class="container about" style="width: auto;">
  <nav id="about-menu">
    <a href="#about" class="about active">O nas</a>
    <a href="#blog" class="blog">Blog</a>
    <a href="#faq" class="faq">Faq</a>
    <a href="#careers" class="careers">Kariera</a>
    <a href="#contact" class="contact">Kontakt</a>
  </nav>

  <section class="vision">

## About Section ##
    <section class="message left" id="about">
      <div class="photo">
        <img src="${static.url('themes/stanford/images/nebulax-logo.png')}" alt="Company Logo" />
      </div>
      <article>
        <h2>O  <span class="edx">Cyfrowej Akademii</span></h2>
        
        <p>Cyfrowa Akademia we współpracy z najlepszymi polskimi uczelniami, fundacjami oświatowymi oraz artystami muzycznymi oferuje dostępne dla wszystkich i bezpłatne zajęcia online.</p>
        <p>Przygotowujesz się do egzaminu gimnazjalnego lub do matury? A może jesteś studentem i chciałbyś przekonać się jak wyglądają wykłady i ćwiczenia na najwyższym poziomie?</p>
        <p>Czołowi nauczyciele przygotowują materiały dydaktyczne, które są następnie czytane przez artystów muzycznych o rozpoznawalnych i interesujących głosach.</p>
        <p>Nieodłącznym elementem współczesnego nauczania są nowe media - oprócz krótkich wideo-wykładów zajęcia uzupełniane są o zdjęcia, pliki  audio, przykłady zastosowań w praktyce oraz interaktywne ćwiczenia i testy</p>       
      </article>
      <hr class="fade-right-hr-divider">
    </section>

## Blog Section ##
    <section class="message left" id="blog">
      <div class="photo">
        <img src="${static.url('themes/stanford/images/nebulax-logo.jpg')}" alt="Company Logo" />
      </div>
      <article>
        <h2><span class="edx">Blog</span></h2>
        
        <p>Cyfrowa Akademia we współpracy z Wojskową Akademią Techniczną, Szkołą Główną Gospodarstwa Wiejskiego oraz Centrum Edukacji Obywatelskiej rozpoczyna ogólnopolski projekt edukacyjny.</p>
          
      </article>
      <hr class="fade-right-hr-divider">
    </section>


## FAQ Section ##
    <section class="message left" id="faq">
      <div class="photo">
        <img src="${static.url('themes/stanford/images/faq.jpg')}" alt="FAQ" />
        
      </div>
      <article>
        <h2>FAQ</h2>
        <p><strong>Kto może wziąć udział w kursie na Cyfrowej Akademii?</strong><br />
        Kursy są otwarte i bezpłatne dla wszystkich. Aby wziąć udział w kursie wystarczy zarejestrować się jako użytkownik i zapisać na interesujący nas kurs.</p>
        
        <p><strong>Mam problem z wyświetlaniem niektórych elementów kursu. Co zrobić?</strong><br />
        W pierwszej kolejności upewnij się, że JavaScript jest włączony w Twojej przeglądarce. Rekomendowane przeglądarki to <a href="http://chrome.google.com/">Google Chrome</a>, <a href="http://www.mozilla.org/firefox">Mozilla Firefox</a>, oraz <a href="http://www.apple.com/safari/">Apple Safari</a>. Wszystkie przeglądarki można bezpłatnie ściągnąć z internetu.</p>
      
        <p><strong>Czy mogę pomóc w tworzeniu Cyfrowej Akademii?</strong><br />
        Oczywiście. Cyfrowa Akademia jest projektem który łączy efekty pracy osób z bardzo szerokiego kręgu – sektor prywany, uczelnie wyższe, organizacje pozarządowe oraz osoby prywatne. Szczególnie pomocne w ciągłym ulepszaniu Cyfrowej Akademii są:</p>
        
        - osoby zainteresowane tworzeniem materiałów dydaktycznych<br/>
        - programiści do tworzenia interaktywnych narzędzi dla studentów<br/>
        - statystycy, anality oraz badacze, którzy są zainteresowani procesem zwiększania efektywności nauczania<br/>
        - promotorzy do promocji naszego projektu w mediach i lokalnych społecznościach<br/>
      
        <p>Jeżeli nie należysz do żadnej z wymienionych grup i masz ciekawy pomysł jak ulepszyć Cyfrową Akademię – <a href="mailto:kontakt@nebulax.pl">napisz do nas</a>!</p>

        <p><strong>Czy mogę uczestniczyć w więcej niż jednym kursie w tym samym czasie?</strong><br />
        Jak najbardziej. Pamiętaj jednak, że większość kursów będzie od Ciebie wymagało przynajmniej kilka godzin pracy w tygodniu. Przed zapisaniem się na kolejny kurs zastanów się czy masz wystarczającą ilość czasu na kolejny kurs.</p>
      
        <p><strong>Cyfrowa Akademia jest super. Czy moglibyśmy korzystać z Cyfrowej Akademii w mojej szkole?</strong><br />
        Oczywiście. Jeżeli chciałbyś korzystać z Cyfrowej Akademii w Twojej szkole <a href="mailto:kontakt@nebulax.pl">napisz do nas</a> a my skontaktujemy się z osobą odpowiedzialną za rozwój edukacji w Twojej szkole. Jeżeli Twoi koledzy i koleżanki również korzystają z Cyfrowej Akademii - łatwiej będzie nam przekonać odpowiedzialne osoby. Zaproś do Cyfrowej Akademii swoich znajomych.</p>
        
        <p><strong>Czy zajęcia odbywając o ustalonej godzinie?</strong><br />
        Na Cyfrowej Akademii możesz możesz się uczyć w najbardziej optymalnej dla siebie porze dnia lub nocy. Niektóre kursy mają daty rozpoczęcia I zakończenia dlatego pamiętaj, aby tak planować naukę aby zdążyć przed wyznaczonymi terminami.</p>
        
        <p><strong>Nie radzę sobie z zadaniami. Czy mogę liczyć na pomoc?</strong><br />
        W pierwszej kolejności powinineś jeszcze raz obejrzeć wideo-wykłady do zajęć i wykonać zadania sprawdzające. Jeżeli to nie pomoże to przejrzyj pytania i odpowiedzi na forum. Studenci mają często trudności z podobnymi zagadnieniami. Najprawdopodobniej znajdziesz odpowiedź na swoje pytanie na forum. Jeżeli nikt jeszcze nie zadał pytania, które chciałbyś zadać to jest Twoja szansa, żeby zaistnieć na forum. W przyszłości Twoje pytanie pomoże innym szukającym pomocy.</p>
        
        <p><strong>Jestem wykładowcą lub nauczycielem i chciałbym skorzystać z Cyfrowej Akademii w mojej uczelni/szkole.</strong><br />
        <a href="mailto:kontakt@nebulax.pl">Skontaktuj się z nami.</a> Cyfrowa Akademia może być bardzo wartościowym narzędziem dydaktycznym jezeli wiesz jak dobrze z niej korzystać. Pomożemy Ci w zorganizowaniu środowiska umożliwiającego korzystanie z Cyfrowej Akademii w Twojej instytucji.</p>
           
      </article>
      <hr class="fade-right-hr-divider">
    </section>


## Careers Section ##
    <section class="message left" id="careers">
      <div class="photo">
        <img src="${static.url('themes/stanford/images/budynek-kariera.jpg')}" alt="Budynek" />
      </div>
      <article>
        <h2>Kariera</h2>
        <p>
        Jeżeli masz pasję i chcesz pomagać instytucjom kształcenia w ciągłym podnoszeniu jakości kształcenia, oraz jesteś uzdolnionym programistą Python i/lub specjalistą Big Data/Data Mining wyślij swoje CV na <a href="mailto:kontakt@nebulax.pl">kontakt@nebulax.pl</a>
        </p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>


## Contact Section ##
    <section class="message left" id="contact">
      <div class="photo">
        <img src="${static.url('themes/stanford/images/telephone.svg')}" alt="Telephone" />
          
      </div>
      <article id="stanford-OpenEdX-contact">
        <h2>Kontakt</h2>
        <p><strong>Napisz do nas maila:</strong><br />
        <a href="mailto:kontakt@nebulax.pl">kontakt@nebulax.pl</a></p>
      </article>
      <script>
        $(function() {
          var ua = navigator.userAgent;
          
          $('#stanford-OpenEdX-contact a').each(function() {
            var href = $(this).attr('href') + "?body=User Agent String: " + ua + " (Please do not delete, this text helps us help you. - Stanford OpenEdX Team)";
            if (!$(this).hasClass('external')) {
              $(this).attr('href', href);
            }
          });
        });
      </script>
      <hr class="fade-right-hr-divider">
    </section>
  </section>

</section>
