<%! from django.core.urlresolvers import reverse %>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%block name="title"><title>Privacy policy</title></%block>

<section class="static-container tos">
  <h1> Privacy check check check </h1>
</section>
