## mako

<%! 
  from django.core.urlresolvers import reverse 
  from edxmako.shortcuts import marketing_link
%>
<%namespace name='static' file='/static_content.html'/>

<div class="wrapper-footer">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
      <div id="su-footer-logo" class="span2">
        <a href="http://www.cyfrowakademia.pl">
          <img src="${static.url('themes/stanford/images/CA-logo.png')}" alt="Cyfrowa Akademia"/>
        </a>
      </div>
        <ol>
          <li><a href="${marketing_link('ABOUT')}">O nas</a></li>
          <li><a href="${reverse('about_edx')}#blog">Blog</a></li>
          <li><a href="${reverse('about_edx')}#faq">FAQ</a></li>
          <li><a href="${reverse('about_edx')}#careers">Kariera</a></li>
          <li><a href="${reverse('about_edx')}#contact">Kontakt</a></li>
        </ol>
      </nav>
      ##<p class="copyright">${_("&copy; 2014 {platform_name}, some rights reserved.").format(platform_name="NebulaX Sp. z o.o.")}</p>

      <nav class="nav-legal">
        <ul>
          <li class="nav-legal-01">
            <a href="${marketing_link('TOS')}">${_("Warunki korzystania z serwisu")}</a>
          </li>
          <li class="nav-legal-02">
            ##<a href="${marketing_link('PRIVACY')}">${_("Polityka prywatności")}</a>
          </li>
        </ul>
      </nav>
    </div>
  </footer>
</div>
